@model DnAPresa.Web.Models.EmployeeListModel

<div id="print-div" class="">

    <h2 id="print-head">Random Drug & Alchohol Screening Report</h2>
    <p>@System.DateTime.Now</p>

    <div class="row">

        <table id="dataTable">

            <thead>

                <tr>

                    <th>Employee Number</th>

                    <th>First Name</th>

                    <th>Last Name</th>

                    <th>Terminal</th>

                    <th>Drug</th>

                    <th>Alchohol</th>

                    <th>Substitute</th>

                </tr>

            </thead>

            <tbody>

                @foreach (var emp in Model.Employees)
                {
                    <tr>

                        <td>@emp.EmployeeNumber</td>

                        <td>@emp.FirstName</td>

                        <td>@emp.LastName</td>

                        <td>@(emp.Terminal != null ? emp.Terminal : emp.Tier3)</td>

                        <td>@emp.Drug</td>

                        <td>@emp.Alcohol</td>

                        <td>@emp.Substitute</td>

                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

<script type="text/javascript">

    function printContent() {

        var restorePage = document.body.innerHTML;
        var printContent = document.getElementById("print-div").innerHTML;

        document.body.innerHTML = printContent;
        window.print();
        document.body.innerHTML = restorePage;
        EvaulateDropDownLists();
    }

</script>
